.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-image: url('https://image.tmdb.org/t/p/original/8Y43POKjjKDGI9MH89NW0NAzzp8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 70px;
}


.auth-form {
  background: rgb(30, 29, 29);
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #d4cccc;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #dedada;
  border-radius: 4px;
  font-size: 1rem;
}

.auth-button {
  width: 100%;
  padding: 0.8rem;
  background: #e3e1e1;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-button:hover {
  background: #646162;
}

.auth-form p {
  text-align: center;
  margin-top: 1rem;
}

.auth-form a {
  color: #ffffff;
  text-decoration: none;
}

.auth-form a:hover {
  text-decoration: underline;
} 